<!DOCTYPE html>
<html>
  <head>
    <style>
      body {
        background-color: #888; /* Màu xám cho nền */
        color: #fff; /* Màu trắng cho văn bản */
      }
    </style>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 class="thead-dark"><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="/users/login">Please login</a>
  </body>
</html>